<!-- Filename: views/partials/footer.ejs -->
</main> <!-- Close .main-container -->

<!-- Footer -->
<footer class="footer">
  <p>&copy; 2025 - Developed by Jennessa Sierra</p>
  <p></p>
</footer>
</body>
</html>
