<!-- Filename: views/error.ejs -->
<%- include('partials/header', { pageTitle: 'Error - Task Manager' }) %>

<section class="error-section">
  <h2>404 Error</h2>
  <p><%= message %></p>
</section>

<%- include('partials/footer') %>
