/* Filename: public/styles.css */

/* General reset or base styles (optional) */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Main */
.main-container {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Heading */
h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 0.5rem;
}

.nav-brand .brand-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links ul {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 6px;
}

.nav-links a:hover {
  background-color: #444;
}

/* Main container */
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Task section */
.task-section,
.task-list-section {
  width: 600px;
  background-color: #fff;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 6px;
}

.task-section h2,
.task-list-section h2 {
  margin-bottom: 1rem;
}

/* Form styling */
.task-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.task-form label {
  display: block;
  margin: 0.5rem 0 0.25rem;
  font-weight: bold;
}

.task-form input[type="text"],
.task-form textarea {
  font-family: Inter, Arial, sans-serif;
  width: 95%;
  max-width: 98%;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.task-form button {
  align-self: center;
  font-weight: bold;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #45a049;
}

/* Task list */
.task-list {
  list-style: none;
  padding: 0;
  counter-reset: task-counter;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fafafa;
  border: 1px solid #ccc;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  border-radius: 6px;
  counter-increment: task-counter;
}

.task-item::before {
  content: counter(task-counter) ".";
  font-weight: bold;
  margin-right: 0.5rem;
  color: #333;
}

.task-item p {
  margin: 10px 30px 10px 10px;
}

.task-details {
  flex: 1;
}

/* Task actions (the toggle and delete buttons) */
.task-actions {
  display: flex;
  flex-direction: row;
}

.task-actions form {
  display: inline-block;
  margin-left: 0.5rem;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.task-actions button {
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 5px 0px;
  border-radius: 6px;
  cursor: pointer;
  width: 75px;
  text-align: center;
}

.green-button {
  background-color: #4caf50;
}

.green-button:hover {
  background-color: #45a049;
}

.gray-button {
  background-color: gray;
}

.gray-button:hover {
  background-color: darkgray;
}

.delete-button {
  background-color: #f44336;
}

.delete-button:hover {
  background-color: #e53935;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}
